.viewtable thead th {
  border: 3px solid;
  text-align: center;
  padding: 10px;
}

#tbody tr td {
  border: 3px solid;
  text-align: center;
  width: 150px;
  margin: 10px;
}

.EditPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 20px;
}
